<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Namers</title>
    <link rel="stylesheet" href="./src/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- Header part -->
    <header class="header">
      <!-- Le logo (pour l'instant ce sera un texte) -->
      <div class="logotype">
        <h1 class="nav-title">Namers</h1>
      </div>
      <!-- navbar -->
      <nav class="navbar">
        <a href="/" class="nav-link">Acceuil</a>
        <a href="/" class="nav-link">A propos</a>
        <a href="/" class="nav-link">Nouveautés</a>
        <a href="/" class="nav-link">S'inscrire</a>
        <a href="/" class="nav-link">Se connecter</a>
      </nav>
    </header>
    <section class="present" id="banner">
      <h2 class="secondary-title">Présentation</h2>
    </section>
  </body>
</html>
